/*side header*/
.sidebar-header {
    display: flex;
    flex-wrap: wrap;
    height: var(--header-height);
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--border-slick);
}

.sidebar-header i{
    font-size: 20px;
    color: var(--para-text);
    cursor: pointer;
}

.sidebar-header__logo img{
    width: 80px;
    height: 80px;
    object-fit: contain;
    cursor: pointer;
}

/*side content*/
.sidebar-content{
    padding: 20px;
}

.sidebar-content__main p{
    font-size: 12px;
    font-weight: bold;
}

.sidebar-content__main-link{
    display: block;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: var(--para-text);
    font-weight: 500;
    transition: background-color ease-in-out .2s;
    /*border: 1px solid var(--border-slick);*/
}

.sidebar-content__main-link:hover{
    color: var(--para-text);
    font-weight: 500;
}

.sidebar-content__main-link.sidebar-content__main-link--choose:hover{
    color: #ffffff;
    font-weight: 500;
}

.sidebar-content__main-link--choose, .sidebar-content__main-link:focus, .sidebar-content__main-link:focus-visible{
    color: #ffffff;
    background-color: var(--btn-primary);
    font-weight: 500;
}

.sidebar-content__main-link i{
    margin-right: 10px;
}

.sidebar-content__main-link span{
    font-size: 14px;
}

/*sidebar content all*/

.sidebar-content__all-list{
    padding-left: 0;
}

/*sidebar content*/
.sidebar-content__all-item{
    overflow: hidden;
    /*height: 50px;*/
}

.sidebar-content__all-item__list{
    max-height: 0;
    transition: max-height ease-in-out .5s;
    margin-top: 10px;
    /*transform: translateY(-10px);*/
}

.sidebar-content__all-item__list a:hover, .sidebar-content__all-item__list a:focus{
    color: var(--btn-primary);
}

.sidebar-content__all-item__list-item{
    color: var(--para-text);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    margin-top: 15px;
    cursor: pointer;
}

.sidebar-content__all-item__list-item--choose{
    color: var(--btn-primary);
}

.sidebar-content__all-item__list-item i{
    margin-right: 10px;
    font-size: 10px;
}

.sidebar-content__all-item__list-item span{
    font-size: 14px;
    font-weight: 500;
}